<%= form_for @user do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :birthday %>
    <%= f.date_field :birthday, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :phone %>
    <%= f.text_field :phone, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :upload_avatar %>
    <%= f.file_field :avatar, accept: Settings.picture.type %>
  </div>
  <div class="text-center">
    <%= f.submit t(".save_change"), class: "btn btn-primary" %>
  </div>
<% end %>
